<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.monochrome" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Monochrome</name>
    <description>A wrapper for monochrome.tf</description>
    <author>
        aleksa07
    </author>
    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://monochrome.tf/*" />
    <allow-navigation href="https://*.monochrome.tf/*" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <icon src="www/icon.jpg" />
</widget>